# This file is part of UltraVNC
# https://github.com/ultravnc/UltraVNC
# https://uvnc.com/
#
# SPDX-License-Identifier: GPL-3.0-or-later
#
# SPDX-FileCopyrightText: Copyright (C) 2002-2025 UltraVNC Team Members. All Rights Reserved.

# Conservative defaults for the experimental native Linux server path.
# Override these per user/session before enabling the systemd user unit.
UVNC_BIND_ADDRESS=127.0.0.1
UVNC_PORT=5901
UVNC_DESKTOP_NAME=uvnc-linux-server
UVNC_CAPTURE_BACKEND=auto
UVNC_INPUT_BACKEND=none
UVNC_MAX_UPDATES=1024
